<nz-layout>
  <nz-header>
    <h1>Assets</h1>
  </nz-header>
  <nz-content ngSkipHydration>
    <nz-table #assetTableTable [nzData]="(assets$|async)" [nzLoading]="(isLoading$|async)"
              [nzFrontPagination]="false"
              [nzScroll]="{x: '1500px', y: '900px' }" nzBordered [nzLoadingIndicator]="tableLoading">
      <thead>
      <tr>
        <th nzLeft>Name</th>
        <th nzLeft>Description</th>
        <th>Type</th>
        <th nzAlign="right">Quantity</th>
        <th>Status</th>
        <th>Barcode</th>
        <th>Category</th>
        <th>Location</th>
        <th>Owner</th>
        <th nzRight nzAlign="center">Created At</th>
      </tr>
      </thead>
      <tbody *ngIf="!!(assets$|async)">
      <tr *ngFor="let item of (assets$|async)">
        <td nzLeft>
          {{ item.name }}<br/>
          <span nz-typography nzType="secondary">{{ item.alternative_name }}</span>
        </td>
        <td nzLeft>{{ item.description }}</td>
        <td>
          <ng-container *ngIf="1 === item.type">
            Unique barcode
          </ng-container>
          <ng-container *ngIf="2 === item.type">
            Same barcode
          </ng-container>
        </td>
        <td nzAlign="right">{{ item.quantity }}</td>
        <td>{{ item.status | asset_status }}</td>
        <td>{{ item.barcode }}</td>
        <td>
          {{ item.category_name }}<br/>
          <span nz-typography nzType="secondary">{{ item.category_code }}</span>
        </td>
        <td>{{ item.location.name }}</td>
        <td>{{ item.owner.name }}</td>
        <td nzRight nzAlign="center">{{ item.created_at }}</td>
      </tr>
      </tbody>
    </nz-table>
    <nz-pagination [nzPageIndex]="1" [nzTotal]="(totalRecord$|async)" nzShowSizeChanger [nzPageSize]="10"
                   [nzShowTotal]="totalTemplate" [(nzPageIndex)]="currentPageIndex" [(nzPageSize)]="currentPageSize"
                   (nzPageSizeChange)="onPageSizeChange($event)"
                   (nzPageIndexChange)="onPageIndexChange($event)"></nz-pagination>
  </nz-content>
</nz-layout>
<ng-template #tableLoading>
  <nz-skeleton [nzActive]="!(isLoading$|async)"></nz-skeleton>
</ng-template>
<ng-template #totalTemplate let-total>Total {{ total }} items</ng-template>


